body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner{
  align-content: center;
}

.singleBanner{
  height: 400px;
  width: 400px;
  border: 1px solid;
}

.parallelBanner{
  margin: auto;
  height: 400px;
  width: 400px;
  padding: 0;
}

.horizontalBanner{
  margin: auto;
  height: 200px;
  width: 400px;
  padding: 0;
}

.select-box{
  align-content: center;
}

.menu{
  margin: auto;
  width: 400px;
  margin-bottom: 10px;
  padding: 0px;
}
